body {
  margin: 0;
  padding-bottom: 50px;
}
.App {
  text-align: center;
}

a {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}
.wine-list-and-button {
  display: flex;
  align-items: center;
}
.wine-list-card_Container p {
  margin: 3px;
}

button,
select {
  font-size: 18px;
  margin: 5px;
  min-width: 50px;
  padding: 5px 10px;
}

label {
  display: block;
  width: 200px;
}

input,
textarea {
  display: inline-block;
  margin: 10px;
  min-width: 200px;
  padding: 10px;
  resize: both;
}
/* Card styling */
.card {
  background: #94a7c8;
  border-radius: 4px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
}

.project-card h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.edit-project-page,
.add-project,
.add-task,
.sign-up-page,
.login-page {
  background: #f9eec3;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  width: 400px;
}
.edit-project-page {
  background-color: rgb(239, 196, 88);
}

.sign-up-page,
.login-page {
  background: transparent;
  color: #7a007a;
  font-family: "Inter", sans-serif;
}

.edit-project-page form,
.add-task form,
.add-project form,
.sign-up-page form,
.login-page form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.add-task button,
.add-project button {
  display: block;
}

.task-card {
  background-color: #dfeef9;
}

.wine-list-card_Container {
  padding: 0 10px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wine-list-card_Container h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  left: 2%;
  position: relative;
  top: 10%;
}

.heading-container {
  align-items: center;
  display: flex;
  margin: 5px 10px;
  flex-direction: row;
  justify-content: space-between;
}

.heading-container a {
  left: 2%;
  margin-bottom: 10px;
  position: relative;
  top: 10%;
}
.about-me {
  margin-top: 10px;
  font-weight: 500;
}
.user-information {
  border: 1px solid black;
}

.user-description {
  text-align: left;
  margin-left: 15px;
}

.profile-page {
  align-content: center;
  background-color: #8d86c9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-page form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-labels {
  font-family: "Vidaloka", serif;
}
#description,
#wine-variety,
#wine-region,
#wine-type {
  border-radius: 25px;
  font-family: "Vidaloka", serif;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#description:hover,
#wine-variety:hover,
#wine-region:hover,
#wine-type:hover {
  border-color: #7a007a;
  box-shadow: 0px 0px 5px 10px rgba(175, 2, 161, 0.2);
  color: black;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.home-title {
  display: flex;
  margin-bottom: 40px;
  max-height: 70px;
}
.home-headings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wine-preferences {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wine-preferences h2 {
  font-family: "Vidaloka", serif;
}

.wine-list {
  font-family: "Vidaloka", serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wine-list-intropage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  color: #7a007a;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 15px;
}

.add-icon {
  color: #000038;
  height: 25px;
  width: 25px;
  margin-right: 25px;
}
.first-span {
  position: absolute;
  width: 39px;
  height: 24px;
  left: 15px;
  top: 0;
  font-family: "Telugu MN";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.second-span {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 15px;
  top: 20px;
  font-family: "Telugu MN";
  font-style: normal;
  font-weight: 400;
  font-size: 33.3333px;
  line-height: 40px;
}
.wine-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 570px;
}
.wine-list-text {
  padding: 5px;
  font-size: 2em;
}
.wine-list-card-icons {
  padding-right: 10px;
  min-width: 15px;
  min-height: 15px;
  margin-bottom: 3px;
}
.search-bar {
  background-image: url("../assets/searchIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  border-color: #7a007a;
  border-radius: 25px;
  box-shadow: none;
  font-weight: 500;
  /* padding: 20px 10px; */
  /* margin-top: 65px; */
  margin-bottom: 5px;
  max-height: 45px;
  padding-top: 0;
  padding-bottom: 0;
  width: 350px;
  position: relative;
  top: 0;
  left: -5px;
}

.search-bar:hover {
  border-color: #7a007a;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  color: black;
  box-shadow: 0px 0px 5px 10px rgba(175, 2, 161, 0.2);
}

.main-wine-preferences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-wine-preferences h2 {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

/* Add Wine Page */
.wine-form {
  align-items: center;
  text-align: center;
}
.add-wine-label,
.edit-wine-label {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  font-size: 0.8em;
  font-family: "Vidaloka", serif;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
}
.add-wine-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  border: 0px;
  border-radius: 25px;
  color: #7a007a;
  font-family: "Vidaloka", serif;
  font-size: 1.6em;
  font-weight: 500;
}
.add-wine-input {
  max-height: 45px;
}
.attributes-label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Vidaloka", serif;
  font-weight: 600;
}

.one-wine {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 17rem;
  color: #f0ebdb;
}

.white-wine {
  background-color: #8d86c9;
}

.red-wine {
  background-color: #000038;
}

.rose-wine {
  background-color: #7a007a;
}

.wine-details {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 0 20px;
  font-size: 12px;
  flex: 2 0 220px;
}

.wine-details h3 {
  font-size: 20px;
}

.wine-details-heading {
  text-decoration: none;
  color: #ffffff;
}

.wine-image {
  display: flex;
  justify-content: center;
}

.wine {
  width: 150px;
  height: auto;
}

/* Footer styling */

.footer-bar {
  background: #000038;
  border-radius: 0;
  color: white;
  margin-bottom: 0px;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px;
  position: fixed;
  bottom: 0;
}
/*error page styling */
.page-img {
  max-height: 400px;
  max-width: 400px;
}
.error-page-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-message {
  color: #7a007a;
  font-weight: 700;
  margin-top: 30px;
}
.error-button:hover {
  background-color: #7a007a;
  box-shadow: -3px 2px 5px 2px rgba(175, 2, 161, 0.2);
  color: #dfeef9;
  transition: 1.5s;
}